@{
    ViewData["Title"] = "BYD";
}


<div class="container">
    <div class="sidebar">
            <div style="background: linear-gradient(229.99deg, #dce0c5 -26%, #dce0c5 145%);">
                <h1>BYD</h1>
                <p>ATTO 2</p>
        </div>
            <div style="background: linear-gradient(215.32deg, #2f8ab5 -1%, #2f8ab5 124%);">
                <h1>BYD</h1>
                <p>DOLPHIN</p>
        </div>
            <div style="background: linear-gradient(221.87deg, #28292e 1%, #28292e 128%);">
                <h1>BYD</h1>
            <p>TANG</p>
        </div>
            <div style="background: linear-gradient(220.16deg, #7e92ad -8%, #7e92ad 138%);">
                <h1>BYD</h1>
                <p>SEAL</p>
        </div>
    </div>
    <div class="main-slide">
        <div style="
            background-image: url('https://www.byd.com/content/dam/byd-site/eu/product/seal/pc/section01.jpg');
          "></div>
        <div style="
            background-image: url('https://www.byd.com/content/dam/byd-site/eu/product/tang-2024/xl/Tang2024-driving-01-xl.jpg');
          "></div>
        <div style="
            background-image: url('https://www.byd.com/content/dam/byd-site/eu/electric-cars/dolphin/xl/Dolphin-exterior-04-SurfingblueUrbangrey-xl.jpg');
          "></div>
        <div style="
            background-image: url('https://www.byd.com/content/dam/byd-site/eu/electric-cars/atto-2/xl/byd-atto2-exterior-04-green-xl.jpg');
          "></div>
    </div>
    <div class="controls">
        <button class="down-button">
            <i class="fas fa-arrow-down"></i>
        </button>
        <button class="up-button">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
</div>
